header{
    background-color: orange;
    height: 50px;
}
nav{
    background-color: aqua;
    width: 10%;
}
aside{
    background-color: blueviolet;
    width: 20%;
}
article{
    background-color: pink;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: orange;
    height: 50px;
}
div{
display: flex;
}